/*-- scss:defaults --*/

  @import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap');
$font-family: "Atkinson Hyperlegible", sans-serif;
// Achtergronden
$body-bg: #f8f4f0;
$sidebar-bg: #5a4a40;

// Tekstkleuren
$body-color: #000000;
$sidebar-fg: #ffffff;
$navbar-bg: #5a4a40;
$navbar-fg: #ffffff;

// Links
$link-color: #e36c18;
$link-hover-color: #c35914;

// Accenten
$accent: #9c8671;

/*-- scss:rules --*/
